.rerv_logo_container {

  display: block;
  border-bottom: 0;
  color: inherit;
  font-weight: 900;
  letter-spacing: 0.25em;
  margin: 0 0 1em 0;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}




.rerv_logo {
  height: 6em;
  margin-right: 2.65em;
}

.rerv_logo > img {
  height: 100%;
}

.rerv_title {
  font-size: 1.5em;
  color: #030085;
  margin-top: 0.5em;
}

.cvidf_logo {
  max-height: 8em;
}

#map {
  margin: 1em 0 2em;
}

.iframe-container {
  height: 80vh;
}

@media screen and (max-width: 600px)  {

  .rerv_logo_container {
    flex-direction: column;
  }

  .rerv_logo {
    margin-right: 0;
  }
/*      .rerv_logo_container {
        display: block;
      }

      .rerv_logo_container > * {
        display: inline-block;
        }*/

}

.tiles h2 {
  color: inherit;
}

#footer h3 {
  color: inherit;
}

.2p0c {
  width: 20%;
}
